PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/heritoria?retryWrites=true&w=majority&appName=Heritoria
MONGODB_DB_NAME=heritoria
MONGODB_DNS_SERVERS=8.8.8.8,1.1.1.1
CLIENT_URL=http://localhost:3000
SEED_DEFAULT_PROJECTS=true
TEMP_ADMIN_USERNAME=admin
TEMP_ADMIN_PASSWORD=Heritoria@123
TEMP_ADMIN_TOKEN_SALT=heritoria-admin-temporary
